extends layout

block content
    h3.text-center.text-white Add New Image
    form(action="/add/single" method="post" enctype="multipart/form-data")
        div.form-group
            label(for="title") Title
            input#title.form-control(type="text" name="title" required)
        div.form-group
            label(for="image") Choose Image
            input#url.form-control(type="file" name="image" accept="image/jpeg, image/jpg, image/png" required)
        input(type="hidden" name="uploadType" value="single")
        button.btn.btn-primary(type="submit") Add Image

    form(action="/add/multiple" method="post" enctype="multipart/form-data")
        div.form-group
            label(for="titles") Titles
            input#titles.form-control(type="text" name="titles" placeholder="Enter titles separated by commas" required)
        div.form-group
            label(for="images") Choose Images
            input#images.form-control(type="file" name="images" accept="image/jpeg, image/jpg, image/png" multiple required)
        input(type="hidden" name="uploadType" value="multiple")
        button.btn.btn-primary(type="submit") Add Images
