extends layout

block content
  h1.text-center.text-white Welcome to #{title} Gallery
  .container.mt-4
    .row
      if images && images.length
        each image in images
          .col-md-4.mb-4
            img.img-thumbnail(src=image.url, alt=image.title)
      else
        p.text-center.text-white No images available