extends layout

block content
    h1 Register
    form(action="/register" method="post" onsubmit="return validateRegisterForm();")
        div.form-group
            label(for="firstName") First Name
            input#firstName.form-control(type="text" name="firstName" required)
        div.form-group
            label(for="lastName") Last Name
            input#lastName.form-control(type="text" name="lastName" required)
        div.form-group
            label(for="email") Email Address
            input#email.form-control(type="email" name="email" required)
        div.form-group
            label(for="username") Username
            input#username.form-control(type="text" name="username" required)
        div.form-group
            label(for="password") Password
            input#password.form-control(type="password" name="password" required)
        button.btn.btn-primary(type="submit") Register
        p Have an account already?
        a(href="/login").btn.btn-info Login
        if error
            p#error-message.text-danger= error
        else
            p#error-message.text-danger(style="display: none;")
    script(src="/javascripts/validateRegisterForm.js" type="text/javascript")